$dark_gray: #323232;
$light_gray: #898989;
$white: #fefefe;
$lighter_gray: #bdbdbd;
$lightest_gray: #d0d0d0;
$off_white: #f2f2f2;
$electric_blue: #0892d0;

$wm_blue: #356b9a;
$wm_bright_blue: #519fe4;
$wm_purple: #544972;
$wm_green: #94c34d;
$wm_orange: #f47321;
$wm_gray: #444444;
$wm_red: #e84118;